.idea
.idea_modules
target
project/boot
*.swp
project.vim
tags
.lib
*~
*#
.DS_Store
.history
.cache
.classpath
.project
.settings
release-notes
logs
project/project
project/target
target
lib_managed
src_managed
project/boot
tmp
.history
dist
.DS_Store
.cache
.settings
.classpath
bin
.class
.project
.ivy2
